{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <h1 id="username">{{user}}</h1>
    
    <form id="edit-form">
            {% csrf_token %}
            <textarea class="form-control" id="edit-postcontent" placeholder="Type here">{{post.postcontent}}</textarea>
            <br>
            <input data-id="{{post.id}}"  type="submit" class="edit btn"/>
    </form>

    <a href="{% url 'index' %}">Disgard Edit</a>
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}



