{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    

    <h1 id="username">{{user.username}}</h1>

    <button class="follow" data-id="{{user.username}}" id="follow{{user.username}}"> Follow</button>
    <button class="unfollow" data-id="{{user.username}}" id="unfollow{{user.username}}"> Unfollow</button>
    <div id="followingcount"> Following: {{followingcount}}</div>
    <div id="followercount"> Followers: {{followercount}}</div>
    <br>
    {% for post in posts %}
        
        <div> {{post.postcontent}}</div>
        <div> {{post.timestamp}}</div>
        <div> Like Count: {{post.likecount}}</div>
        <br>

    {% endfor %}


    <a href="{% url 'index' %}">Back to all posts</a>
    
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/user.js' %}"></script>
{% endblock %}



